body {
  background-color: #EBF4F6;
  font-family: "DM Mono";
}

.body-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;
  gap: 50px;
  height: 100%;
  width: 100%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #071952;
  color: #EBF4F6;
}

.title-text {
  text-align: center;
  font-style: italic;
  font-size: 30px;
}

li {
  list-style: none;
  width: 300px;
}

button {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  background-color: #37B7C3;
  border: none;
  font-size: x-large;
}

footer {
  padding-left: 30px;
  clear: both;
  background-color: #071952;
  color: #EBF4F6;
}

.bottom-container {
  display: flex;
  align-items: center;
}

.profile {
  border-radius: 50%;
  margin: 20px;
}

.display-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.about-me-a {
  grid-column: span 4;
  padding: 40px;
  border: solid 10px #088395;
  font-size: 17px;
}

.about-me {
  grid-column: span 4;
  padding: 40px;
  /* border: solid 10px #088395; */
  color: #EBF4F6;
  font-size: 17px;
}

.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  grid-column: span 4;
  /* border: solid 10px #088395; */
}

.skills-s{
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
  grid-column: span 4;
  border: solid 10px #088395;
}

.skills-contains {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
}

.skills-contains > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.hobbies {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 10px #088395; */
}

.hobbies-h {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 10px #088395;
}

.hobbies-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.hobbies-content > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}

.hobbies-content > li svg {
  height: 150px;
}

.contact {
  order: 2;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 10px #088395; */
}

.contact-c {
  order: 2;
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 10px #088395;
}

.contact-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.contact-contents > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
}

.contact-contents > li svg {
  height: 100px;
}

svg {
  height: 60px;
}

@media (max-width: 600px) {
  .body-content {
    height: 932px;
  }

  .main-content {
    grid-template-columns: 100px 320px;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  .title-text > * {
    font-size: small;
  }

  .profile {
    height: 70px;
  }
  
  li {
    width: 100px;
  }
  
  button {
    height: 50px;
    font-size: medium;
  }
  
  footer {
    width: 100%;
  }
  
  .profile {
    border-radius: 50%;
    margin: 20px;
  }

  .display-content{
    display: inline-flex;
    flex-direction: column;
  }

  .about-me-a {
    padding: 5px;
    font-size: small;
  }

  .hobbies-content > li svg {
    height: 1px;
  }

  .skills-contains > li > svg {
    height: 1px;
  }

  #Capa_1 {
    height: 1px;
  }

  .skills {
    height: 1px;
  }

  .hobbies {
    height: 1px;
  }

  .contact {
    height: 1px;
  }

  .about-me {
    order: 5;
    font-size: 1px;
  }

  .skills-s{
    width: 300px;
  }

  .skills-s > .skills-contains {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 120px;
    
  }

  .skills-s > .skills-contains > li {
    width: 120px;
    font-size: small;
  }

  .skills-s > .skills-contains > li > svg {
    height: 50px;
  }

  .skills > .skills-contains > li {
    height: 1px;
  }

  .about-me {
    height: 1px;
  }

  .hobbies-h > div > li {
    height: 150px;
    width: 150px;
  }

  .hobbies-h > div > li > svg{
    height: 70px;
  }

  .contact > div > li {
    height: 1px;
    width: 1px;
  }

  .skills > div > li {
    height: 1px;
    width: 1px;
  }

  .contact-c > div > li > svg {
    height: 50;
  }

  .contact-c > div > li {
    height: 150px;
    width: 150px;
  }
  
}