body {
  background-color: #524C42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Josefin Sans";
}

.canvas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 760px;
  width: 1500px;
}

.left-side {
  background-color: #32012F;
  grid-area: 1 / 1 / 9 / 4;
}

.profile-img {
  grid-row: 2 / span 6;
  grid-column: 3/ span 2;
}

.right-side {
  background-color: #E2DFD0;
  grid-area: 1 / 4 / 9 / 10;
}

.my-photo {
  height: 600px;
}

.options {
  grid-row: 7 / span 1;
  grid-column: 6 / span 3;
  
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 50px;
}

button {
  background-color: #F97300;
  width: 200px;
  font-size: larger;
  border-radius: 30px;
  border: none;
  height: 50px;
}

.contacts {
  grid-row: 6 / span 3;
  grid-column: 1 / span 2;
  padding-left: 50px;
}

.contacts > p {
  color: white;
  font-size: large;
  margin: 10px;
}

.socials {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

li svg {
  height: 50px;
}

.hobbies {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobbies p {
  color: white;
  font-size: large;
}

.hobby-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.about-me {
  grid-row: 1 / span 6;
  grid-column: 5 / span 5;
}

.about-me p {
  font-size: 20px;
  padding-inline: 50px;
}

p.greeting {
  font-size: 50px;
  margin-bottom: 0;
  font-weight: 700;
}

p.programer {
  color: #F97300;
  font-size: 25px;
  margin-top: 0;
  font-weight: 500;
  font-style: italic;
}

.skills-s {
  grid-row: 2 / span 5;
  grid-column: 5 / span 5;
  display: flex;
  justify-content: center;
  align-self: center;
}

.skills-contains {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 150px;
}

.skills-contains li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skills-contains li svg {
  height: 100px;
}

@media (max-width: 1100px) {
  .about-me {
    grid-column: 6 / span 4;
  }
  
  .about-me p {
    font-size: medium;
    padding-inline: 50px;
  }

  p.greeting {
    font-size: 50px;
    margin-bottom: 0;
    font-weight: 700;
  }
  
  p.programer {
    color: #F97300;
    font-size: 25px;
    margin-top: 0;
    font-weight: 500;
    font-style: italic;
  }

  .options {
    grid-column: 6 / span 4;
    
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
  }
  
  .contacts {
    grid-column: 1 / span 2;
    padding-left: 20px;
  }
  
  .contacts > p {
    font-size: medium;
    margin: 10px;
  }
  
  .skills-s {
    grid-column: 6 / span 4;
  }
  
  .skills-contains {
    grid-template-columns: 120px 120px 120px;
    grid-auto-rows: 120px;
  }
  .skills-contains li svg {
    height: 50px;
  }
}

@media (max-width: 550px) {
  body {
    height: 860px;
    width: 550px;
  }
  
  .canvas {
    
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 750px;
    width: 500px;
  }
  
  .left-side {
    grid-row: 1 / span 3;
    grid-column: 1/ span 8;
  }
  
  .profile-img {
    grid-row: 2 / span 4;
    grid-column: 6/ span 3;
  }
  
  .right-side {
    grid-row: 4 / span 6;
    grid-column: 1/ span 8;
  }
  
  .my-photo {
    height: 300px;
  }
  
  .options {
    grid-row: 9 / span 1;
    grid-column: 1 / span 5;
  }
  
  button {
    background-color: #F97300;
    width: 100px;
    font-size: large;
    border-radius: 30px;
    border: none;
    height: 30px;
  }
  
  .contacts {
    grid-row: 8 / span 2;
    grid-column: 6 / span 3;
    padding-left: 0;
  }
  
  .contacts > p {
    color: black;
    font-size: small;
  }

  li svg {
    height: 30px;
  }
  
  .hobbies {
    grid-row: 6 / span 2;
    grid-column: 6 / span 3;
    align-items:flex-start;
    padding: 20px;
  }
  
  .hobbies p {
    color: black;
  }
  
  .about-me {
    grid-row: 1 / span 6;
    grid-column: 1 / span 5;
  }
  
  .about-me p {
    font-size: medium;
    padding-inline: 20px;
  }
  
  p.greeting {
    font-size: 40px;
    color: #E2DFD0;
  }
  
  p.programer {
    font-size: 25px;
    margin-bottom: 50px;
  }
  
  .skills-s {
    grid-row: 2 / span 7;
    grid-column: 1 / span 5;
  }
  
  .skills-contains {
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 100px;
  }
  
  .skills-contains li {
    font-size: smaller;
  }
  
  .skills-contains li svg {
    height: 50px;
  }
  
}